<% include ../partials/header.ejs %>
<div class="container">
    <div class="row">    
        <h2 class="text-center" style="margin-top: 2.5em;"> Add new day to <%= trip.title %></h2>
        <div class="col-md-4 col-sm-6 col-xs-10 col-md-offset-4 col-xs-offset-1">
            <form action="/trips/<%= trip.id %>/days" method="POST">
                <div class="form-group">
                        <input class="form-control" type="text" name="day[location]" placeholder="Location you visited eg. Brooklyn, NYC, USA " required>
                </div>
                <!-- <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="day[location]" placeholder="Where have you been">
                </div> -->
                <div class="form-group">
                        <textarea class="form-control" aria-label="With textarea" name="day[text]" rows="5" placeholder="Your experiences..."></textarea>
                </div>
                <div class="form-group">
                        <% var n = new Date(); %>
                        <% var mm = n.getMonth() + 1; %>
                        <% var dd = n.getFullYear()+ '-' + mm.toString().padStart(2, '0') + '-' + n.getDate().toString().padStart(2, '0'); %> <!-- 00: styczen 01:luty itp --> 
                        <!-- <label for="date"><%= dd %></label> -->
                        <input id="date" class="form-control" type="date" name="day[date]" value="<%= dd %>" max="<%= dd %>" min="2000-01-01" required>
                </div>
                <div class="form-group">                     
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit! </button>
                </div>
            </form>
            <a class="go-back-btn" href="javascript:history.back()">Go back</a>
        </div>
    </div>   
</div>

<% include ../partials/footer.ejs %>