<% include ../partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="text-center quick-menu">
                <p class="lead">Write your life's stories... </p>
                <a class="btn btn-success" href="/trips/<%= trip._id%>/days/new">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Day</a>
                <form method="GET" action="/trips/<%=trip._id %>/edit">    
                    <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a> </button>
                </form>
                <form method="POST" action="/trips/<%= trip._id %>/delete">    
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Delete </button>
                </form>
            </div>
            
            <% if (days != null && days.length>1) { %>
                
                <h5 class="lead">Map of the trip:</h5>
            <% }; %>  
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="trip-box">
                <img class="img-responsive" src="<%= typeof image != 'undefined' ? image : '' %>">
                <h1 class="display">
                    <a><%= trip.title %></a>
                    
                <% if (days != null && days.length > 2) { %>
                    <% var dayStart = days[0], dayEnd = days[days.length-1] %>
                    <small>
                        <%=  dayStart.date.getFullYear() %>.<%= ( dayStart.date.getMonth() + 1).toString().padStart(2, '0') %>.<%=  dayStart.date.getDate().toString().padStart(2, '0') %> - 
                        <%=  dayEnd.date.getFullYear() %>.<%= ( dayEnd.date.getMonth() + 1).toString().padStart(2, '0') %>.<%=  dayEnd.date.getDate().toString().padStart(2, '0') %>
                    </small>
                <% }; %>  
                </h1>
                <p class="text-justify"><%= trip.description %></p>
                <p>
                    <em>Submitted by: <strong><%= trip.author.username %> </strong></em>
                </p>
            
                <div class="inline-block">
                <form class="inline-form" method="GET" action="/trips/<%=trip._id %>/edit">    
                    <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a> </button>
                </form>
                <form class="inline-form" method="POST" action="/trips/<%= trip._id %>/delete">    
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Delete </button>
                </form>
                </div>
            </div>  
            <div class="well">  
                <div class="text-center">
                    <a class="btn btn-success" href="/trips/<%= trip._id%>/days/new">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add day to the journal</a>
                </div> 
                <hr>           
                <% days.forEach( (day) => { %>
                    <div class="row days">
                        <div class="col-md-12">
                            <div class="inline-block">
                                <strong><%= day.location %></strong> 
                                <a href="/trips/<%= trip._id%>/days/<%= day._id%>/edit"> 
                                    <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"> </span>
                                </a>
                                <form class="inline-form" method="POST" action="/trips/<%= trip._id%>/days/<%= day._id%>/delete">
                                    <button type="submit"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> </button>
                                </form>
                                <span class="pull-right">
                                    <%= day.date.getFullYear() %>-<%= (day.date.getMonth() + 1).toString().padStart(2, '0') %>-<%= day.date.getDate().toString().padStart(2, '0') %>
                                </span>
                            </div>
                            <p class="text-justify"><%= day.text %></p>
                        </div>
                    </div>
                <% }) %>   
            </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
        var bounds = new google.maps.LatLngBounds();
        var index = 0;
        <%if (typeof days != undefined && days.length > 0) { %>
            var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: {lat: <%= days[0].lat %>, lng: <%= days[0].lng %>},
                    scrollwheel: false
                });
            <% days.forEach( (day) => { %>
                index++; 
                var lat = <%= day.lat %>;
                var lng = <%= day.lng %>;
                var center = {lat: lat, lng: lng };
                var contentString = `
                    <strong><%= day.location%><br /></strong>
                    <p><%= day.date.getFullYear() %>-<%= (day.date.getMonth() + 1).toString().padStart(2, '0') %>-<%= day.date.getDate().toString().padStart(2, '0') %></p>
                `
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });
                var marker = new google.maps.Marker({
                    position: center,
                    map: map,
                    icon: "https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=" + index + "|428bca|000000"
                });
                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });

                bounds.extend(marker.position);

            <% }) %> 
            map.fitBounds(bounds);
        <% } %> 
    }
</script>
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqnpBQUFMeW7wxAdJ_4wR8OoVJWHu0xxM&callback=initMap"></script> -->

<% include ../partials/footer.ejs %>