<% include ../partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">E-journal (mapa na dole)</p>
            <div>
                <li class="list-group"></li>
                <li class="list-group"></li>
                <li class="list-group"></li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thunbnail">
                <!-- <img class="img-responsive" src="<%= trip.title %>"> -->
                <img class="img-responsive" src="<%= typeof image != 'undefined' ? image : '' %>">
                <!-- <div class="pull-right">9.00$/night</div> Tu można dać date stworzenia-->
                <h1 class="display"><a><%= trip.title %></a></h1>
                <p><%= trip.description %></p>
                <p>
                    <em>Submitted By <%= trip.author.username %> </em>
                </p>
                
                <a href="/trips/<%=trip._id %>/edit" class="btn btn-warning">Edit</a>
                <form method="POST" action="/trips/<%= trip._id %>/delete">    
                    <button type="submit"" class="btn btn-danger">Delete</a>
                </form>
            </div>  
            <div class="well">  
                <div class="text-right">
                    <a class="btn btn-success" href="/trips/<%= trip._id%>/days/new">Add New Day</a>
                </div> 
                <hr>           
                <% days.forEach( (day) => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= day.location %></strong>
                            <span class="pull-right">
                                <%= day.date.getFullYear() %>-<%= (day.date.getMonth() + 1).toString().padStart(2, '0') %>-<%= day.date.getDate().toString().padStart(2, '0') %>
                            </span> 
                            <p>
                                <%= day.text %>
                            </p>
                        </div>
                    </div>
                <% }) %>   
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer.ejs %>